<footer class="footer">
    <div class="footer_top">
    <div class="container">
    <div class="row">
    <div class="col-xl-6 col-md-6">
    <div class="footer_widget">
    <h3 class="footer_title">
    Services
    </h3>
    <div class="subscribe-from">
    <form action="#">
    <input class="form-control" id="email" type="text" placeholder="Enter your mail">
    <button class="btn btn-info btn-sm mt-3 small" type="submit">Subscribe</button>
    </form>
    </div>
    <p class="sub_text">Esteem spirit temper too say adieus who direct esteem esteems luckily.</p>
    </div>
    </div>
    <div class="col-xl-5 col-md-5 offset-xl-1">
    <div class="footer_widget">
    <h3 class="footer_title">
    Contact Me
    </h3>
    <ul>
    <li ><a style="color: rgb(218, 50, 50);" href="#">Pheropizzle@support.com
    </a></li>
    <li><a style="color: rgb(218, 50, 50);" href="#">+10 873 674 6782
    </a></li>
    <li><a style="color: rgb(218, 50, 50);" href="#">600/D, Green road, Kings Garden Ibadan</a></li>
    </ul>
    <div class="socail_links">
    <ul>
    <li>
    <a href="#" class="facebook">
    <i class=" fa fa-facebook "></i>
    </a>
    </li>
    <li>
    <a href="#" class="google">
    <i class="fa fa-google-plus"></i>
    </a>
    </li>
    <li>
    <a href="https://twitter.com/pizzlemovement_" class="twitter">
    <i class="fa fa-twitter"></i>
    </a>
    </li>
    <li>
    <a href="#" class="youtube">
    <i class="fa fa-youtube-play"></i>
    </a>
    </li>
    <li>
    <a href="https://instagram.com/pizzlemovement" class="insta">
    <i class="fa fa-instagram"></i>
    </a>
    </li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="copy-right_text">
    <div class="container">
    <div class="footer_border"></div>
    <div class="row">
    <div class="col-xl-7 col-md-6">
    <p class="copy_right">
    
    Copyright ©<script>document.write(new Date().getFullYear());</script>2021 All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="" target="_blank">Meeday</a>
    
    </p>
    </div>
    <div class="col-xl-5 col-md-6">
    <div class="footer_links">
    <ul>
    <li><a style="color: rgb(218, 50, 50);" href="#">home</a></li>
    <li><a style="color: rgb(218, 50, 50);" href="#">about</a></li>
    <li><a style="color: rgb(218, 50, 50);" href="#">tracks</a></li>
    <li><a style="color: rgb(218, 50, 50);" href="#">blog</a></li>
    <li><a style="color: rgb(218, 50, 50);" href="#">contact</a></li>
    </ul>
    </div>
    </div>
    </div>
    </div>
    </div>
    </footer>