.one{
    width: 20%;
}

.navbar-brand{
    width: 50%;
}

.nav-link{
    font-family: 'Bebas Neue', cursive;
}


.bg-dark {
    --bs-bg-opacity: 0;
    background-color: rgba(33,37,41,var(--bs-bg-opacity))!important;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}



#navbarSupportedContent a{
    color: white;
    padding: 15px;
    font-size: 22px;
    
    }

    #navbarSupportedContent a:hover {
        background: rgb(218, 50, 50);
       
        padding: 20px; 
        font-size: 40px;       
    }




@media only screen and (max-width: 1200px) {

    .one{
        width: 40%;
    }

 

    #navbarSupportedContent{
        height: 40%;
        width: 92%;
        /* font-family: Montserrat; */
        font-family: 'Bebas Neue', cursive;
        
    font-size: 16px;     
   background-image: linear-gradient(to right,#1c1e1f,#586670,#df8f7c,#f1444d);
    border: none;
    border-radius: 10px;
    position: fixed;
    z-index: 1;
    top: 23%;
    left: 11px;
    opacity: 0.9;
    overflow-x: hidden;
    text-align: center;
    transform: translate(-155px, 0) scale(0.4);
    animation: animate .8s forwards;
   

    }
    
    @keyframes animate{
        40%{
            transform: translate(50px, 0) scale(.7);
            opacity: 0.9;
            color: indianred;
        }
        60%{
            color: blue;
        }
        80%{
            transform: translate(0) scale(0.2);
            opacity: 0.9;
        }
        100%{
            transform: translate(0) scale(1 );
            opacity: 0.9;
        }
    }
    
    #navbarSupportedContent a{
    color: white;
    padding: 15px;
    font-size: 22px;
    
    }

    #navbarSupportedContent a:hover {
        background: rgb(218, 50, 50);
       
        padding: 20px; 
        font-size: 40px;       
    }


    .navbar-dark .navbar-toggler {
        /* color: rgba(255,255,255,.55); */
        color: white;
        /* border-color: rgba(255,255,255,.1); */
        /* background: rgb(218, 50, 50); */
        background: rgb(218, 50, 50);
        border: 1px solid rgb(218, 50, 50);;
    }

    .bg-dark {
        --bs-bg-opacity: 0;
        background-color: rgba(33,37,41,var(--bs-bg-opacity))!important;
        background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
    }
        
    }