<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
      <img src="assets/jo.PNG" alt="" class="mx-auto one"> 
     
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/init">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/gallery">Gallery</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/story">Our Story</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" routerLink="/rsvp">RSVP</a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link" routerLink="/google-map">Getting There</a>
        </li>

      <li class="nav-item">
          <a class="nav-link" routerLink="/giftregistry">Gift Registry</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/vendorlist">Vendors List</a>
        </li>
       
    </ul>
    
  </div>
</nav> 