<div class="container">
    <app-navbar></app-navbar>
<div class="text-center">
    <h3 class="pp">PIZZLE</h3>
    <span class="mm">MOVEMENT</span>
  <img src="assets/ye.JPG" class="img-fluid" id="header" alt="" >
  
</div>

    <!-- About section  -->

    <div class="about_area">
        <div class="container">
        <div class="row align-items-center">
        <div class="col-xl-5 col-md-6">
        <div class="about_thumb">
        <img class="img-fluid" src="assets/1.jpg" alt="" data-pagespeed-url-hash="1835074714" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
        </div>
        </div>
        <div class="col-xl-7 col-md-6">
        <div class="about_info">
        <h3 style="font-family: 'Pangolin', cursive;" class="phh">ABOUT</h3>
        <p class="phhss"> Pizzlemovement is a collective and social club of young multi disciplinary creatives in Nigeria. The movement was started casually by Pheropizzle and his friends in secondary school in 2017 who shared similar interests in music,fashion,partying and lifestyle.
            Although it started has a music group,Pizzle Movement has evolved into a social club of young  creatives and visionary youths who share various similar interests.
            It members are also known for their resilience and ambition as the slogan goes “They said we could not do it but we did it anyways” (SIGHS)
           <br> 
            </p>
         <p class="phhss">
            Pizzle Movement is also the Stan/Supporters Club for Pheropizzle.
            Esteem spirit temper too say adieus who direct esteem. It esteems luckily or picture placing drawing. Apartments frequently or motionless on reasonable projecting expression enim ad minim veniam quis nostrud exercitation we have supported programmes to help alleviate human suffering through animal welfare when people might depend.
         </p>
        <div class="signature">
        <img style="width: 20%;" src="" alt="" data-pagespeed-url-hash="304459687" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        <!-- Special -->
        <div class="spec">
            <p class="text-center">
                It members are also known for their resilience and ambition as the slogan goes “They said we could not do it but we did it anyways” (SIGHS)
            </p>
        </div>
        <!-- Youtube Section -->

        <div class="youtube_video_area">
            <div class="container-fluid p-0">
            <div class="row no-gutters">
            <div class="col-xl-3 col-lg-3 col-md-6">
            <div class="single_video">
            <div class="thumb">
            <img style="width: 100%;" src="https://txtmag.com/storage/2021/07/Artist-image-2-1024x956.jpg" alt="" data-pagespeed-url-hash="1980754510" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
            </div>
            <div class="hover_elements">
            <div class="video">
            <a class="popup-video" href="https://www.youtube.com/wa">
            <i class="fa fa-play"></i>
            </a>
            </div>
            <div class="hover_inner">
            <span>New York Show-2018</span>
            <h3><a href="#">Shadows of My Dream</a></h3>
            </div>
            </div>
            </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
            <div class="single_video">
            <div class="thumb">
            <img style="width: 100%;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTj9yw1SvTSr7FFL9Ms0tgahUpyrYuAjz0LyA&usqp=CAU" alt="" data-pagespeed-url-hash="2275254431" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
            </div>
            <div class="hover_elements">
            <div class="video">
            <a class="popup-video" href="https://www.youtube.com/watch?v=Hzmp3z6deF8">
            <i class="fa fa-play"></i>
            </a>
            </div>
            <div class="hover_inner">
            <span>New York Show-2018</span>
            <h3><a href="#">Shadows of My Dream</a></h3>
            </div>
            </div>
            </div>
            </div>

            <div class="col-xl-3 col-lg-3 col-md-6">
            <div class="single_video">
            <div class="thumb">
                <img style="width: 100%;" src="assets/com2.jpeg" alt="" data-pagespeed-url-hash="2864254273" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
            </div>
            <div class="hover_elements">
            <div class="video">
            <a class="popup-video" href="https://www.youtube.com/watch?v=Hzmp3z6deF8">
            <i class="fa fa-play"></i>
            </a>
            </div>
            <div class="hover_inner">
            <!-- <span>New York Show-2018</span>
            <h3><a href="#">Shadows of My Dream</a></h3> -->
            </div>
            </div>
            </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
            <div class="single_video">
            <div class="thumb">
            <img style="width: 100%;" src="assets/com.jpeg" alt="" data-pagespeed-url-hash="2864254273" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
            </div>
            <div class="hover_elements">
            <div class="video">
            <a class="popup-video" href="https://www.youtube.com/watch?v=Hzmp3z6deF8">
            <i class="fa fa-play"></i>
            </a>
            </div>
            <div class="hover_inner">
            <span>New York Show-2018</span>
            <h3><a href="#">Shadows of My Dream</a></h3>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>

            <!--Latest Track section -->

            <div class="music_area music_gallery mt-3">
                <div class="container">
                <div class="row">
                <div class="col-xl-12">
                <div class="section_title text-center mb-65">
                <h3 style="color: rgb(218, 50, 50);   font-family: 'Pacifico', cursive; margin-bottom: 5%; margin-top: 5%;">Latest Tracks</h3>
                </div>
                </div>
                </div>
             
                <div class="row align-items-center justify-content-center mb-20 mt-3">
                <div class="col-xl-10">
                <div class="row align-items-center">
                <div class="col-xl-9 col-md-9">
                <div class="music_field">
                <div class="thumb">
                <img style="width: 20%;" src="https://is5-ssl.mzstatic.com/image/thumb/Music115/v4/5f/5f/8a/5f5f8ad9-97bd-23af-26d6-8f17173aeed1/artwork.jpg/270x270bb.webp" alt="" data-pagespeed-url-hash="3645959844" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </div>
                <div class="audio_name">
                <div class="name">
                <!-- <h4>Sabina (feat. Pheropizzle)</h4> -->
                <p>8 July, 2021</p>
                <p>00:0000:02</p>
                </div>
                <!-- <div class="audioplayer"><audio preload="auto" controls="" style="width: 0px; height: 0px; visibility: hidden;">
                <source src="https://www.w3schools.com/html/horse.mp3">
                </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 100%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">00:02</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div> -->
                </div>
                </div>
                </div>
                <div class="col-xl-3 col-md-3">
                <div class="music_btn">
                <!-- <a href="#" class="boxed-btn">buy albam</a> -->
                </div>
                </div>
                </div>
                </div>
                </div>
                <div class="row align-items-center justify-content-center mb-20">
                <div class="col-xl-10">
                <div class="row align-items-center">
                <div class="col-xl-9 col-md-9">
                <div class="music_field">
                <div class="thumb">
                <img style="width: 20%;" src="https://is5-ssl.mzstatic.com/image/thumb/Music115/v4/5f/5f/8a/5f5f8ad9-97bd-23af-26d6-8f17173aeed1/artwork.jpg/270x270bb.webp" alt="" data-pagespeed-url-hash="3940459765" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                </div>
                <div class="audio_name">
                <div class="name">
                <!-- <h4>Sabina (feat. Pheropizzle)</h4> -->
                <p>10 November, 2019</p>
                <p>00:0000:02</p>
                </div>
                <!-- <div class="audioplayer"><audio preload="auto" controls="" style="width: 0px; height: 0px; visibility: hidden;">
                <source src="https://www.w3schools.com/html/horse.mp3">
                </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 100%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">00:02</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div> -->
                </div>
                </div>
                </div>
                <div class="col-xl-3 col-md-3">
                <div class="music_btn">
                <!-- <a href="#" class="boxed-btn">buy albam</a> -->
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
                </div>

                <!-- Contact me -->

                <div class="contact_rsvp">
                    <div class="container">
                    <div class="row">
                    <div class="col-xl-12">
                    <div class="text text-center">
                    <h3 style="color: rgb(218, 50, 50);   font-family: 'Pacifico', cursive;  margin-top: 3%; font-weight: 800;">MERCH</h3>
                    <!-- <img src="assets/yesk.JPG" class="go" alt=""> -->
                    <div class="card bg-dark">
                        <p id="shirt">
                            Pizzlemovement Regalia T-shirt are in stock now!
                        </p>
                        <div class="scrollmenu">
        
                            <img src="assets/ye.JPG" class="img-fluid" alt="" id="slider">
                            <img src="assets/yesk.JPG" class="img-fluid" alt="" id="slider">
                            <img src="assets/wo.jpg" class="img-fluid" alt="" id="slider">
                            <img src="assets/1.jpg" class="img-fluid" alt="" id="slider">
                          
                        </div>
                        <button class="btn btn-danger mt-3" id="cart">   <i id="wedd" class="large material-icons">add_shopping_cart</i> </button>
                        <p style="margin-top:5px; color: red;"> <<<<< >>>>></p>
                    </div>
                    <a class="boxed-btn3" href="contact.html" style="color: rgb(218, 50, 50);   font-family: 'Pacifico', cursive; font-size: 30px;">Contact Me</a>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div>

</div>

<app-footer></app-footer>