@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/* .words {
   
    font-size: 0;
    line-height: 1.5;
  } */
  
  .words span {
    font-size: 40px;
    display: inline-block;
    animation: move 3s ease-in-out infinite;
  }
  
  @keyframes move {
    0% {
      transform: translate(-30%, 0);
    }
    50% {
      text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
    }
    100% {
      transform: translate(30%, 0);
    }
  }
  
  .words span:nth-child(2) {
    animation-delay: 0.5s;
  }
  
  .words span:nth-child(3) {
    animation-delay: 1s;
  }
  
  .words span:nth-child(4) {
    animation-delay: 1.5s;
  }
  
  .words span:nth-child(5) {
    animation-delay: 2s;
  }
  
  .words span:nth-child(6) {
    animation-delay: 2.5s;
  }
  
  .words span:nth-child(7) {
    animation-delay: 3s;
  }
  

#header{
    width: 30%;
  margin-top: 20px;
  backdrop-filter: blur(5px);
}

.pp{
    font-size: 30px;
    font-family: 'Ceviche One', cursive;
    font-weight: 600;
    margin-top: 10px;
    text-align: center;
}

.mm{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    position: absolute;
    left: 43%;
    margin-top: -20px;
}

.about_area .about_info h3 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 0;
    font-family: "Josefin Sans", sans-serif;
    color: rgb(218, 50, 50);
}


.hover_inner h3{
    text-decoration: none;
    font-size: 24px;

}

 .hover_inner span {
    font-size: 14px;
    font-weight: 400;
    color: #ED1B1B;
    font-family: "Muli", sans-serif;
    /* -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; */
    /* position: relative;
    left: 30px; */

}


a {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.hover_elements .hover_inner {
    position: relative;
  bottom: 100px;
    left: 20px;
}


.hover_elements .video {
    /* top: 50%;
    position: absolute;
    left: 50%; */
    /* -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */
}

#oneway{
  width: 20%;
}

#onewayy{
  width: 30%;
}

.music{
  margin-bottom: 30%;
}


.music li{
 list-style-type: none;
 display: inline;
 padding-right: 30px;
 justify-content: center;
 margin-top: 10px;
}

.music ul{
  position: relative;
  left: 10%;
}

.youtube_video_area{
    margin-top: 200px;
}


.fa-play:before {
    content: "\f04b";
    border: 1px solid red;
    /* padding FONT-WEIGHT: 200; */
    padding: 20px;
    background-color: red;
    border-radius: 100px;
    color: white;
    margin-left: 188%;
}
    /* position: absolute; */
 
    /* margin-bottom: 13%; */



   

.video {
    margin-top: -13%;
    margin-left: 40px;
    position: absolute;
   
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.audio_name .name {
    overflow: hidden;
    position: relative;
    bottom: 121px;
    left: 26%;
}
    

.go{
    max-width: 100%;
    margin-top: 20px;
}

div.scrollmenu{
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu{
    overflow: auto;
    white-space: nowrap;
}

#slider{
    width: 50%;
}


/* 320px — 480px
//  SSmall phone */
 /* Phone  */

@media (max-width: 480px) {

    .pp{
        font-size: 50px;
        font-family: 'Ceviche One', cursive;
        font-weight: 600;
        margin-top: 10px;
        text-align: center;
        color: red;
    }
    
    .mm{
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 600;
        position: absolute;
        left: 26%;
        margin-top: -20px;
    }

    .music_area{
        display: none;
    }
    
   #header{
       width: 50%;
   }

   .phh{
       margin-top: 10px;
       text-align: center;
       margin-bottom: 20px;
   }

   .phhss{
       
       font-size: 18px;
       padding: 3px;
   }

   .spec{
       background-color: red;
       color: white;
       padding: 20px;
       text-align: center;
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   }

   .hover_inner span {
       font-size: 18px;
       color: red;
       font-weight: 300;
       font-family: 'Times New Roman', Times, serif;
   }

   .fa-play {
     display: none;
   }

   p{
       color: white;
       font-family: 'Roboto', sans-serif;
       padding: 2px 2px;
       font-size: 20px;
   }
    
   .music_btn .boxed-btn{
       display: none;
   }

   .date{
     position: absolute;
     top: 70%;
     font-size: 14px;
     
   }

   .time{
    position: absolute;
    margin-top: 13%;
   }


   .thumb img{
       justify-content: center;
   }



   #slider{
    width: 100%;
}

#shirt{
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-family: monospace;
    color: red;
}

#cart{
    width: 50%;
    margin-left: 24%;
    border: 1px solid  rgb(218, 50, 50);;
    /* background: #615CFD; */
    background:  rgb(218, 50, 50);
}

}