<div class="container">
    
</div>


<div class="music_area music_gallery mt-3">
    <div class="container">
    <div class="row">
    <div class="col-xl-12">
    <div class="section_title text-center mb-65">
    <h3 style="color: rgb(218, 50, 50);   font-family: 'Pacifico', cursive; margin-bottom: 5%; margin-top: 5%;">Latest Tracks</h3>
    </div>
    </div>
    </div>
    <div class="row align-items-center justify-content-center mb-20 ">
    <div class="col-xl-10">
    <div class="row align-items-center">
    <div class="col-xl-9 col-md-9">
    <div class="music_field">
    <div class="thumb">
    <img style="width: 20%;" src="https://is1-ssl.mzstatic.com/image/thumb/Music124/v4/b3/07/41/b3074104-8cda-80f5-63e6-cf6fcea6a304/artwork.jpg/270x270bb.webp" alt="" data-pagespeed-url-hash="3351459923" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
    </div>
    <div class="audio_name">
    <!-- <div class="name">
    <h4>Sabina (feat. Pheropizzle)</h4>
    <p class="date">10 November, 2019</p>
    <p class="time">00:0000:02</p>
    </div> -->
    <!-- <div class="audioplayer"><audio preload="auto" controls="" style="width: 0px; height: 0px; visibility: hidden;">
    <source src="https://www.w3schools.com/html/horse.mp3">
    </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 100%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">00:02</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div> -->
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-md-3">
    <div class="music_btn">
    <!-- <a href="#" class="boxed-btn">buy albam</a> -->
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="row align-items-center justify-content-center mb-20 mt-3">
    <div class="col-xl-10">
    <div class="row align-items-center">
    <div class="col-xl-9 col-md-9">
    <div class="music_field">
    <div class="thumb">
    <img style="width: 20%;" src="https://is5-ssl.mzstatic.com/image/thumb/Music115/v4/5f/5f/8a/5f5f8ad9-97bd-23af-26d6-8f17173aeed1/artwork.jpg/270x270bb.webp" alt="" data-pagespeed-url-hash="3645959844" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
    </div>
    <div class="audio_name">
    <div class="name">
    <!-- <h4>Sabina (feat. Pheropizzle)</h4> -->
    <p>8 July, 2021</p>
    <p>00:0000:02</p>
    </div>
    <!-- <div class="audioplayer"><audio preload="auto" controls="" style="width: 0px; height: 0px; visibility: hidden;">
    <source src="https://www.w3schools.com/html/horse.mp3">
    </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 100%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">00:02</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div> -->
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-md-3">
    <div class="music_btn">
    <!-- <a href="#" class="boxed-btn">buy albam</a> -->
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="row align-items-center justify-content-center mb-20">
    <div class="col-xl-10">
    <div class="row align-items-center">
    <div class="col-xl-9 col-md-9">
    <div class="music_field">
    <div class="thumb">
    <img style="width: 20%;" src="https://is5-ssl.mzstatic.com/image/thumb/Music115/v4/5f/5f/8a/5f5f8ad9-97bd-23af-26d6-8f17173aeed1/artwork.jpg/270x270bb.webp" alt="" data-pagespeed-url-hash="3940459765" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
    </div>
    <div class="audio_name">
    <div class="name">
    <!-- <h4>Sabina (feat. Pheropizzle)</h4> -->
    <p>10 November, 2019</p>
    <p>00:0000:02</p>
    </div>
    <!-- <div class="audioplayer"><audio preload="auto" controls="" style="width: 0px; height: 0px; visibility: hidden;">
    <source src="https://www.w3schools.com/html/horse.mp3">
    </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 100%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">00:02</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div> -->
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-md-3">
    <div class="music_btn">
    <!-- <a href="#" class="boxed-btn">buy albam</a> -->
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>




    <div class="row align-items-center justify-content-center mb-20 ">
        <div class="col-xl-10">
        <div class="row align-items-center">
        <div class="col-xl-9 col-md-9">
        <div class="music_field">
        <div class="thumb">
        <img style="width: 20%;" src="https://is1-ssl.mzstatic.com/image/thumb/Music124/v4/b3/07/41/b3074104-8cda-80f5-63e6-cf6fcea6a304/artwork.jpg/270x270bb.webp" alt="" data-pagespeed-url-hash="3351459923" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
        </div>
        <div class="audio_name">
        <!-- <div class="name">
        <h4>Sabina (feat. Pheropizzle)</h4>
        <p class="date">10 November, 2019</p>
        <p class="time">00:0000:02</p>
        </div> -->
        <!-- <div class="audioplayer"><audio preload="auto" controls="" style="width: 0px; height: 0px; visibility: hidden;">
        <source src="https://www.w3schools.com/html/horse.mp3">
        </audio><div class="audioplayer-playpause" title=""><a href="#"></a></div><div class="audioplayer-time audioplayer-time-current">00:00</div><div class="audioplayer-bar"><div class="audioplayer-bar-loaded" style="width: 100%;"></div><div class="audioplayer-bar-played"></div></div><div class="audioplayer-time audioplayer-time-duration">00:02</div><div class="audioplayer-volume"><div class="audioplayer-volume-button" title=""><a href="#"></a></div><div class="audioplayer-volume-adjust"><div><div style="width: 100%;"></div></div></div></div></div> -->
        </div>
        </div>
        </div>
        <div class="col-xl-3 col-md-3">
        <div class="music_btn">
        <!-- <a href="#" class="boxed-btn">buy albam</a> -->
        </div>
        </div>
        </div>
        </div>
        </div>